label.select-item {
  display: block;
  cursor: pointer;

  & > input[type="radio"],
  & > input[type="checkbox"] {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px;

    & + div.select-item::after {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      vertical-align: -0.25em;
      /*border-radius: 1em;
      border: 0.125em solid #fff;
      box-shadow: 0 0 0 0.15em #000;*/
      margin-right: 0.75em;
      transition: 0.5s ease all;
    }
    &:checked + div.select-item::after {
      content: '🗸';
    }
    &:focus + div.select-item {
      border: 2px skyblue solid;
    }
  }
}