.popup {
	position: absolute;
	left: 25px;
	top: 25px;
	right: 25px;
	bottom: 25px;
	background: #666;
	box-shadow: 0 5px 50px #000;
	text-align: center;
	overflow: auto;
	cursor: pointer;
	animation: zoom .4s forwards ease 1;
}

@keyframes zoom {
	from { opacity:0; transform:translateY(100%) scale(0); }
}